<!--<div class="divpic">
  <h1>
      SOBRE NOSOTROS
  </h1>

  <p class="text_img"> Nos pusimos en marcha en 2015 con una única misión: revolucionar la forma de encontrar trabajo. Desde entonces, más
      de cuatro millones de usuarios han realizado más de 50 millones de solicitudes de empleo en Geek Jobs. Hoy somos
      la plataforma de empleo nº.1 en España. Y seguimos creciendo cada día.
  </p>
  <p class="text_img"> Un empleo aporta un sueldo. Y también autoestima y dignidad. Creemos que 24 horas bastan para cambiar la vida de
      una persona. Por eso centramos todo nuestro esfuerzo en romper barreras, conectar gente y crear oportunidades.
      Queremos mejorar la vida de millones de personas. Y lo estamos haciendo.
  </p>

  <!-- iconos e info sobre nosotros -->
  <!--<div class="about">
      <ul>
          <li>
              <img src="./assets/img/world.png" alt="">
              <h3> 4 millones de candidatos en todo el mundo </h3>
          </li>
          
          <li>
              <img src="./assets/img/champions.png" alt="">
              <h3>Plataforma de empleo nº.1 en España</h3>
          </li>
          
          <li>
              <img src="./assets/img/empleo.png" alt="">
              <h3>25.000 personas han encontrado trabajo</h3>
          </li>
          
      </ul>
  </div>
  <!-- iconos e info sobre nosotros -->
<!--</div>-->
