<section>
    <article class="container articlejosep rounded-top mt-5 pt-5">

        <div class="row justify-content-center ml-1 mr-1 letramarta">
         <h1 class="pt-5">¡WELCOME GEEKS!</h1>
       </div>
     
       <div class="row text-center justify-content-center ml-1 mr-1 letramarta">
         <p class="pt-5">Un buen geek siempre encuentra el trabajo de sus sueños, aquí se podrá hacer realidad. Diferentes empresas están desesperadas por encontrarte.
         </p>
       </div>
     
       <div class="row justify-content-center ml-1 mr-1 letramarta">
         <p class="pt-2">Rellena el formulario y verás como te llueven ofertas del cielo. 
         </p>
       </div> 
     
     
       <div class="row justify-content-center pt-5 pb-5 letramarta">
         <a> <button class="btn btn-primary">¡Unete a la comunidad!</button></a>
       </div>
     </article>
     <article class="container formul" >
        <app-form-usuario></app-form-usuario>
     </article>   
</section>