<section class="container">
  <!-- ESTA PLANTILLA ITERA UN ARRAY DE OBJETOS USUARIO -->
  <!-- BANNER Y FOTO DE PERFIL -->
  
  <div id="perfil" class="row profiles_banner">
    
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 profile-info-block " >
      <div class="profile-image" id="fotoPerfil" style="background-image: url( {{ usuario.fotoPerfil }} )"></div>
      <div class="profile-name">
        <h1>
          <a title="{{ usuario.nombre }}" id="nombre">{{ usuario.nombre }} {{usuario.apellidos}}</a>
        </h1>
      </div>
    </div>

  </div>
  <!-- <div id="cont"> -->


  <div class="row" id="accordion" role="tablist">

    <!-- =================== DESCRIPTION ============================================================================== -->

    <div class="col-12 col-sm-12 col-md-12 col-lg-12  card">
      <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
          <a data-toggle="collapse" href="#c1" role="button" aria-expanded="true" aria-controls="collapseOne">
            Descripción
          </a>
        </h5>
      </div>
      <div id="c1" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body" id="desc">
          {{ usuario.descripcion }}
        </div>
      </div>
    </div>

    <!-- =================== HABBILIDADES PRINCIPALES ============================================================================== -->

    <div class="col-12 col-sm-12 col-md-12 col-lg-12  card">
      <div class="card-header" role="tab" id="headingTwo">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#c2" role="button" aria-expanded="false" aria-controls="collapseTwo">
            Habilidades Principales
          </a>
        </h5>
      </div>
      <div id="c2" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body mm" id="habP">
          <ul>
            <li>
              <a class="b">Programación</a>
            </li>
            <li>
              <a class="b">Diseño Web</a>
            </li>
            <li>
              <a class="b">Diseño Gráfico</a>
            </li>
            <li>
              <a class="b">HTML</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- =================== OTRAS HABILIDADES ============================================================================== -->

    <div class="col-12 col-sm-12 col-md-12 col-lg-12  card">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#c3" role="button" aria-expanded="false" aria-controls="collapseThree">
            Otras Habilidades
          </a>
        </h5>
      </div>
      <div id="c3" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body" id="hab">
          {{ usuario.habilidades }}
        </div>
      </div>
    </div>

    <!-- =================== PORTFOLIO ============================================================================== -->

    <div class="col-12 col-sm-12 col-md-12 col-lg-12  card">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#c4" role="button" aria-expanded="false" aria-controls="collapseThree">
            Portafolio
          </a>
        </h5>
      </div>
      <div id="c4" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body" id="por">
          {{ usuario.portafolio }}
        </div>
      </div>
    </div>

    <!-- =================== EXPERIENCIA ============================================================================== -->

    <div class="col-12 col-sm-12 col-md-12 col-lg-12  card">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#c5" role="button" aria-expanded="false" aria-controls="collapseThree">
            Experiencia
          </a>
        </h5>
      </div>
      <div id="c5" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body" id="exp">
          {{ usuario.experiencia }}
        </div>
      </div>
    </div>

    <!-- =================== FORMACION ============================================================================== -->

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 card">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#c6" role="button" aria-expanded="false" aria-controls="collapseThree">
            Formación
          </a>
        </h5>
      </div>
      <div id="c6" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body" id="for">
          {{ usuario.formacion }}
        </div>
      </div>
    </div>

    <!-- </div> -->

  </div>
</section>