.formLogin {
    width: 260px;
    height: 30px;
}

/* Botones login centrados */
.btn-github {
    width: 260px;
    margin: auto auto 10px;
}
.btn-linkedin {
    width: 260px;
    margin: auto auto 10px;
}

.form-group {
    width: 260px;
    margin: auto auto 10px;
}
/* Span de error */

.alert-danger {
    width: 260px;
}

/* Login */
.enviar {
    background-color: #FFF;
    font-size: 10pt;
    font-weight: regular;
    color: #009EE3;
}

.enviar:hover {
    background-color: #009EE3;
    color: white;
}

.navegador li a:hover {
    background-color: #333333;
    color: #ffffff;
}

.enviar:active {
    background-color: #009EE3;
    color: #fff;
}

.navegador li a:hover {
    background-color: #333333;
    color: #ffffff;
}

.info div {
    display: block;
}

.titulform {
    padding-top: 3%;
    text-align: center;
    position: relative;
}

.form-check-input {
    margin-left: 5px;
}

.form-check {
    text-align: center;
    margin-bottom: 10px;
}

.formremember a {
    text-align: center;
    font-size: 10pt;
    padding-bottom: 6%;
}

.row {
    margin-right: 0;
    margin-left: 0;
}