<!-- Botones login de redes sociales  -->
<div class="align-self-center">
  <a class="btn btn-block btn-social btn-github" href="#">
    <span class="fa fa-github"></span> Iniciar sesión con GitHub
  </a>
  <a class="btn btn-block btn-social btn-linkedin" href="#">
    <span class="fa fa-linkedin"></span> Iniciar sesión con LinkedIn
  </a>
</div>

<!-- Inputs login -->
<section class="container formul rounded-bottom" id="form">
  <form [formGroup]="loginGeekForm" (ngSubmit)="onSubmit(loginGeekForm.value)" novalidate>
    <a name="loginGeekForm" id="loginGeekForm"></a>
    <div class="row-fluid formlogin">
      <!-- Inputs centrados -->
      <div class="align-self-center">
        <div class="form-group has-danger">
          <label class="sr-only" for="email">E-Mail Address</label>
          <!-- Alineacion icono y input -->
          <div class="row">
            <i class="col-2 col-sm-2 col-md-2 col-lg-2 fa fa-at"></i>
            <div class="col-10 col-sm-10 col-md-10 col-lg-10">
              <!-- Input get y span error -->
              <input type="email" name="email" class="form-control" id="mail" placeholder="usuario@email.com" formControlName="email_geek">
              <div *ngIf="loginGeekForm.get('email_geek').invalid && (loginGeekForm.get('email_geek').dirty || loginGeekForm.get('email_geek').touched)"
                class="alert alert-danger">
                <span>Login incorrecto</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Input contraseña -->
        <div class="form-group has-danger">
          <label class="sr-only" for="email">Contraseña</label>
          <!-- Alineacion icono y input -->
          <div class="row">
            <i class="col-2 col-sm-2 col-md-2 col-lg-2 fa fa-key"></i>
            <div class="col-10 col-sm-10 col-md-10 col-lg-10">
              <!-- Input get y span error -->
              <input type="password" name="password" class="form-control" id="pass" formControlName="password_geek">
              <div *ngIf="loginGeekForm.get('password_geek').invalid && (loginGeekForm.get('password_geek').dirty || loginGeekForm.get('password_geek').touched)"
                class="alert alert-danger">
                <span>Login incorrecto</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Boton entrar y checkbox -->
      <div class="row-fluid formlogin">
        <div class="align-self-center">
          <div class="form-check">
            <button type="submit" class="btn btn-primary" id="bttn">
              <i class="fa fa-paper-plane-o" style="padding-right: 1em">
              </i>
              Entra
            </button>
            <a>¿No tienes cuenta?</a>
            <span routerLink="/form-usuario">¡Regístrate!
            </span>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>

<!-- ========== MODAL BADFILL ========== -->

<ng-template #badFill>
  <div class="modal-header">
    <h4 class="modal-title pull-left">¡El Formulario contiene errores!</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Solventalos y pruébalo de nuevo
  </div>
</ng-template>

<!-- ========== ========== ========== -->
<!-- ========== MODAL UNAUTHORITZED ========== -->

<ng-template #badLog>
  <div class="modal-header">
    <h4 class="modal-title pull-left">¡El Usuario o la Contraseña son incorrectos!</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Solventalos y pruébalo de nuevo
  </div>
</ng-template>

<!-- ========== ========== ========== -->