<section class="container formul rounded-bottom" id="form">
  <form [formGroup]="altaofertaForm" (ngSubmit)="onSubmit()" novalidate>
    <a name="altaoferta" id="altaoferta"></a>
    <div class="form-row mt-5">
      <div class="form-group col-lg-6 col-md-6 col-sm-12 col-12">
        <label for="inputTitulo">Título de la posición</label>
        <input type="text" id="tituloPosicion" class="form-control" required name="position" placeholder="Ej. Python developer" formControlName="position">
        <!--Span error-->
        <div *ngIf="altaofertaForm.get('position').invalid && (altaofertaForm.get('position').dirty || altaofertaForm.get('position').touched)"
          class="alert alert-danger">
          <span>Este campo no puede contener carácteres especiales</span>
        </div>
      </div>
    </div>

    <div class="form-row">
      <label for="inputDescripcion">Job description</label>
    </div>

    <div class="form-row">
      <div class="form-group col-lg-6 col-md-6 col-sm-12 col-12">
        <textarea class="form-control" [ngModel]="oferta.jobDescription" id="jobDescription" class="form-control" name="jobdescription" required maxlength="300" placeholder="Ayuda a los candidatos a entender tus necesidades"
          formControlName="jobDescription"> </textarea>
        <!--Span error-->
        <div *ngIf="altaofertaForm.get('jobDescription').invalid && (altaofertaForm.get('jobDescription').dirty || altaofertaForm.get('jobDescription').touched)"
          class="alert alert-danger">
          <span>Este campo es obligatorio</span>
        </div>
      </div>

      <div class="form-group col-lg-6 col-md-6 col-sm-12 col-12">
        <label>Formación</label>
        <input type="text" class="form-control" required name="training" id="formacion" placeholder="Formación" formControlName="training">
        <!--Span error-->
        <div *ngIf="altaofertaForm.get('training').invalid && (altaofertaForm.get('training').dirty || altaofertaForm.get('training').touched)"
          class="alert alert-danger">
          <span>Este campo no puede contener números ni carácteres especiales</span>
        </div>
        <label>Ubicación</label>
        <input type="text" class="form-control" required name="location" placeholder="Ubicación" id="ubicacion" formControlName="location">
        <!--Span error-->
        <div *ngIf="altaofertaForm.get('location').invalid && (altaofertaForm.get('location').dirty || altaofertaForm.get('location').touched)"
          class="alert alert-danger">
          <span>Este campo no puede contener números ni carácteres especiales</span>
        </div>
        <label>Años de experiencia</label>
        <div>
          <input type="range" id="rangeInput2" name="rangeInput2" min="0" max="15" value="2" oninput="amount2.value=rangeInput2.value">
          <output name="amount2" id="amount2" for="rangeInput2">2</output>
        </div>

        <label>Salario Bruto Anual en Euros</label>
        <div>
          <input type="range" id="rangeInput" name="rangeInput" min="20000" max="100000" value="20000" oninput="amount.value=rangeInput.value">
          <output name="amount" id="amount" for="rangeInput">20000</output>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Trabajo Remoto
          </label>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="form-group col-lg-6 col-md-6 col-sm-12 col-12">
        <label>Idiomas</label>
        <input type="text" class="form-control" name="languajes" formControlName="languajes" required placeholder="Ej. Inglés, Francés, ..."
          id="idiomas">
        <!--Span error-->
        <div *ngIf="altaofertaForm.get('languajes').invalid && (altaofertaForm.get('languajes').dirty || altaofertaForm.get('languajes').touched)"
          class="alert alert-danger">
          <span>Este campo no puede contener números ni carácteres especiales</span>
        </div>
        <label>Soft skills</label>
        <input type="text" class="form-control" required name="sskills" formControlName="sskills" placeholder="Ej. Trabajo en equipo, Orientación al cliente, etc..."
          id="softSkills">
        <!--Span error-->
        <div *ngIf="altaofertaForm.get('sskills').invalid && (altaofertaForm.get('sskills').dirty || altaofertaForm.get('sskills').touched)"
          class="alert alert-danger">
          <span>Este campo no puede contener números ni carácteres especiales</span>
        </div>
        <label>Habilidades técnicas</label>
        <input type="text" class="form-control" required name="hskills" formControlName="hskills" placeholder="Ej. Python, Django, REST API,.."
          id="hardSkills">
        <div *ngIf="altaofertaForm.get('hskills').invalid && (altaofertaForm.get('hskills').dirty || altaofertaForm.get('hskills').touched)"
          class="alert alert-danger">
          <span>Este campo es obligatorio</span>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-4">
      <button type="submit" class="btn btn-primary">Publicar</button>
    </div>
  </form>
</section>

<!-- ========== MODAL BADFILL ========== -->
<ng-template #badFill>
    <div class="modal-header">
      <h4 class="modal-title pull-left">¡El Formulario contiene errores!</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Solventalos y pruébalo de nuevo
    </div>
  </ng-template>
  
  <!-- ========== ========== ========== -->
  <!-- ========== MODAL GOODFILL ========== -->
  
<ng-template #goodFill>
    <div class="modal-header">
      <h4 class="modal-title pull-left">¡Felicidades!</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        La oferta se ha publicado correctamente
    </div>
  </ng-template>
  
  <!-- ========== ========== ========== -->
