<section class="container formul rounded-bottom" id="form">
  <form [formGroup]="loginEmpForm" (ngSubmit)="onSubmit()" novalidate>
    <a name="loginEmpForm" id="loginEmpForm"></a>
    <div class="row-fluid formlogin">

      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

          <div class="form-group has-danger">
            <label class="sr-only" for="email">E-Mail Address</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem">
                <i class="fa fa-at"></i>
              </div>

              <input type="email" name="email" class="form-control" id="mail-emp" placeholder="usuario@email.com" formControlName="email_emp">
              <span class="error" aria-live="polite"></span>

              <!--Span error-->
              <div *ngIf="loginEmpForm.get('email_emp').invalid && (loginEmpForm.get('email_emp').dirty || loginEmpForm.get('email_emp').touched)"
                class="alert alert-danger">
                <span>Login incorrecto</span>
              </div>
            </div>
          </div>

          <div class="form-group has-danger">
            <label class="sr-only" for="email">Contraseña</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem">
                <i class="fa fa-key"></i>
              </div>
              <input type="password" name="password" class="form-control" id="pass-emp" formControlName="password_emp">
              <span class="errorp" aria-live="polite"></span>
              <!--Span error-->
              <div *ngIf="loginEmpForm.get('password_emp').invalid && (loginEmpForm.get('password_emp').dirty || loginEmpForm.get('password_emp').touched)"
                class="alert alert-danger">
                <span>Login incorrecto</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
    <!-- entrar al login y check-box  -->
    <div class="row-fluid formlogin">
      <div class="row">
        <!--<div class="col-md-4"></div>-->
          <div class="form-check">
            <button type="submit" class="btn btn-success" id="bttn-emp">
              <i class="fa fa-paper-plane-o" style="padding-right: 1em"></i>Entra</button>
            <label class="form-check-label"></label>
            <label>
              <input class="form-check-input" name="remember" type="checkbox">
              <span style="padding-left: 5em" name="remember" type="checkbox">Recuérdame</span>
            </label>
          </div>
        </div>
      </div>
  </form>
</section>