<!-- jumbrotron imagen -->

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Aquí empieza tu futuro.</h1>
      <p>Las mejores ofertas tecnológicas del momento.</p>
      <p>
        <button class="btn btn-primary btn-lg" id="scroll" href="#login">Let's Go!</button>
      </p>
    </div>
  </div>


<!-- div login -->
<div class="row titulform" id="login">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h2 class="text-center">Bienvenidos a Geek Jobs</h2>
    <h3 class="text-center">Inicia Sesión</h3>
    <hr>
  </div>
</div>
<app-form-login-geek></app-form-login-geek>
