 <!-- footer -->
 <footer>
    <div id="gjFooter" class="container">
        <div class="row">
            <!-- contenedor con el logo -->
            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                <h5></h5>
                <a href="./index.html">
                    <img src="./assets/img/logo1.png" alt="">
                </a>
            </div>
            <!-- links -->
            <div class="col-12 col-sm-6 col-md-2 col-lg-2">
                <h5>GeekJobs</h5>
                <ul>
                    <li>
                        <a href="./index.html">Inicio</a>
                    </li>
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                </ul>
            </div>
            <!-- links geek jobs -->
            <div class="col-12 col-sm-6 col-md-2 col-lg-2">
                <h5>Geeks</h5>
                <ul>
                    <li>
                        <a href="./index.html">Iniciar Sesión</a>
                    </li>
                    <li>
                        <a href="./registrousuario.html">Regístrarse</a>
                    </li>
                    <li>
                        <a href="./perfil_usuario.html">Ver perfil</a>
                    </li>
                </ul>
            </div>
            <!-- links empresa -->
            <div class="col-12 col-sm-6 col-md-2 col-lg-2">
                <h5>Empresas</h5>
                <ul>
                    <li>
                        <a href="./home_empresa.html">Iniciar Sesión</a>
                    </li>
                    <li>
                        <a href="./registro_empresa.html">Regístrarse</a>
                    </li>
                    <li>
                        <a href="./pagina_construccion.html">Ver perfil</a>
                    </li>
                </ul>
            </div>
            <!-- redes sociales -->
            <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                <div class="social-networks">
                    <a href="#" class="twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" class="facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" class="google">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </div>
                <a class="btn btn-default" href="./contact.html">Contáctenos</a>
            </div>
            <!-- ================================= -->
        </div>
        <!-- Copyright -->
        <div class="footer-copyright">
            <div class="container-fluid">
                Todos los derechos reservados © 2018:
                <a href="./index.html">
                    <strong> Thee GeekJobs Company</strong>
                </a>
            </div>
        </div>
        <!-- ================================= -->
    </div>
</footer>
