<section>
  <article id="tituloJoan" class="container articlejoan rounded-top mt-5 pt-5">
    <div class="row justify-content-center ml-1 mr-1 ">
      <h1 class="pt-5 letrajoan">¿QUIERES A LOS MEJORES? </h1>
    </div>
    <div class="row justify-content-center letrajoan ml-1 mr-1">
      <h2 class="pt-5">PUBLICA AHORA TU OFERTA</h2>

    </div>
    <div class="row justify-content-center pt-5 pb-5 ml-1 mr-1 letrajoan">
      <a href="#tituloPosicion">
        <button id="vamos" class="btn btn-primary letrajoan">¡Vamos!</button>
      </a>
    </div>

  </article>
  <article class="container formul">
    <app-form-altaoferta></app-form-altaoferta>
  </article>
</section>